@model UnlockMe.Web.ViewModels.ProfilesInputModels.CreateProfileInputModel;
@{
    this.ViewData["Title"] = "Create new Post";
}
<h1>@this.ViewData["Title"]</h1>

<p>Hey @User.Identity.Name<p>
<p>Add title, description and picture.</p>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Years"></label>
        <input asp-for="Years" class="form-control" />
        <span asp-validation-for="Years" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddedByUserId"></label>
        <input asp-for="AddedByUserId" class="form-control" />
        <span asp-validation-for="AddedByUserId" class="text-danger"></span>
    </div>
    <div class="btn-group">
        <input type="submit" class="btn-success" />
    </div>
</form>