@model UnlockMe.Web.ViewModels.ProfilesInputModels.CreateProfileInputModel;

<h1>Add new profile</h1>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="bg-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Years"></label>
        <input asp-for="Years" class="form-control" />
        <span asp-validation-for="Years" class="bg-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddedByUserId"></label>
        <input asp-for="AddedByUserId" class="form-control" />
        <span asp-validation-for="AddedByUserId" class="bg-danger"></span>
    </div>
</form>