@{
    this.ViewData["Title"] = "MyPosts";
}
<h1>@this.ViewData["Title"]</h1>

<p>This is your posts you can click on yoSure post and and you can copy your url address and send it to your friends or in social midia </p>
