
@{
    this.ViewData["Title"] = "ThankYou";
}

<h1>@this.ViewData["Title"]</h1>
<div class="alert alert-success" >Your Post is ready!</div>

<a href="" class="alert alert-success">CHECK IT TO DO link to the view that shows picture</a>


