@using UnlockMe.Common
@model UnlockMe.Web.ViewModels.Post.PostsViewModel
@{
    this.ViewData["Title"] = "PostAddView";
}

<h1>You are wellcome!</h1>
<div class="row">
    @foreach (var post in Model.Posts)
    {
        <div class="card col-md-4 p-1" style="width: 18rem;">
            <img src="https://www.maximimages.com/stock-photo/sexy-sun-tanned-exotic-woman-at-the-beach-in-a-swimsuit-with-a-lowered-strap-covering-her-MXI32594.jpg" class="card-img-top" alt="@post.Title">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Description</p>
                <a href="#" class="btn btn-primary">Unlock Picture!</a> 
            </div>
        </div>
     }
</div>


