@using UnlockMe.Common
@model UnlockMe.Web.ViewModels.Home.IndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="~/images/UnlockMeTransparentLogo.png" alt="UnlockMe Logo Picture" style="width: 50%; height: auto;" />
    <div class="col-md-4 offset-md-4">
        <p>UnlockMe have: </p>
        <ul class="list-group">
            <li class="list-group-item bg-info"><i class="fas fa-users"></i> Total register users: @Model.ProfilesCount</li>
            <li class="list-group-item bg-info"><i class="fas fa-camera"></i> Total uploaded pictures: @Model.PicturesCount</li>
        </ul>
    </div>
    <br>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            Uploud picture from <a href="https://localhost:44319/Profiles/Create">HERE!</a>
        </p>
    }
    else
    {
        <p>
            <a href="https://localhost:44319/Identity/Account/Register">Registeer now</a> and start making money from your pictures!
        </p>
    }

</div>

