@using UnlockMe.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="~/images/UnlockMeTransparentLogo.png" ;/>
</div>

