@using UnlockMe.Common
@model UnlockMe.Web.ViewModels.Home.IndexViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <img src="~/images/UnlockMeTransparentLogo.png" alt="UnlockMe Logo Picture" style="width: 50%; height: auto;"/>
    <div class="col-md-4 offset-md-4">
        <p>UnlockMe have: </p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Total register users: @Model.ProfilesCount</li>
            <li class="list-group-item bg-info">Total uploaded pictures: @Model.PicturesCount</li>
        </ul>
    </div>
</div>

